<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net48" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3800.47" targetFramework="net48" />
  <package id="ProjNET" version="2.1.0" targetFramework="net48" />
  <package id="ProjNet.SRID" version="1.0.1" targetFramework="net48" />
  <package id="ProjNET4GeoAPI" version="1.4.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
</packages>